body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;   
}

.container {
    
    width: 600px;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 50px auto;
}

h1 {
    
    text-align: center;
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: .1px solid #000;
    outline: none;
}

select, button {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 30px 10px;
    width: 100%;
    height: auto;
}

main{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
   
}

section{
    width: 600px;
    height: 100vh;
}
